{% extends 'base.html' %}

{% block title %}お問い合わせフォーム{% endblock %}

{% block content %}
<form action="{% url 'contact_submit' %}" method="post"> <!-- actionに送信先URLを指定 -->
    {% csrf_token %}
    <div class="Form">
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>氏名</p>
            <input type="text" name="name" class="Form-Item-Input" placeholder="例）山田太郎" required>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>電話番号</p>
            <input type="text" name="phone" class="Form-Item-Input" placeholder="例）000-0000-0000" required>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>メールアドレス</p>
            <input type="email" name="email" class="Form-Item-Input" placeholder="例）example@gmail.com" required>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>お問い合わせ内容</p>
            <textarea name="message" class="Form-Item-Textarea" required></textarea>
        </div>
        <input type="submit" class="Form-Btn" value="送信する">
    </div>
</form>
{% endblock %}
